<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <h1>{{htmlWebpackPlugin.options.fullName}}</h1>
    <div class="jokeDiv">
        <div><img id="smiley"  alt="smiley"/></div>
        <div>
        <p id="joke"></p>
        <input type="button" value="new joke" id="jokeButton"/>
        </div>
    </div>
</body>
</html>